.spread {
  width: 100%;
  
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  flex-direction: column-reverse;     /* column-reverse for mobile */
  /* gap: 5%; Wait for wide support? */
}

.page{
  /*flex-basis: 100%;*/
  flex: 1 1 auto;
  
  padding: 5%;
  /*max-width: 100%;*/
  
  display:flex;
  /*align-items: center; This fails on Safari/column mode */
  justify-content: center;
}

.divider {
  min-height: 10px;
  min-width: 10px;
  max-height: 5%;
  max-width: 5%;
}

.passage-text, .passage-img {
  /*min-width: 20ch;*/
  max-width: 52ch;
}

.side {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_title {
  font-size: 16px;
  font-size: 12vmin;
}

.second_title {
  font-size: 16px;
  font-size: 12vmin;
}

.third_title {
  font-size: 16px;
  font-size: 8vmin;
}

.fourth_title {
  font-size: 16px;
  font-size: 8vmin;
}